body {
    height: 95vh;
    background-color: unset;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color: unset;
}

#sokoban{
    display:inline-block;
}

.game{
    display: block;
    min-height: 256px;
    min-width: 256px;
    margin: 0;
    padding: 1px 1px 3px;
    box-sizing: content-box;
    border: solid 8px rgba(0,0,0,0.4);
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.31);

    background-color: gray;
    color: white;
    font-family: Arial, sans-serif;
}

.row{
    display: flex;
    margin: 2px;
    padding: 0px;
    height: 64px;
    box-sizing: content-box;
}

.cell, .empty{
    display: block;
    box-sizing: border-box;
    width:64px;
    height: 64px;
    margin: 1px;
    padding: 0px;
    border-radius: 2px;
    background-color: white;
}

.empty {
    background-color: unset;
}