body, #sokoban{
    display:inline-block;
}

.game{
    color: white;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    background-color: gray;
    display: inline-block;
    margin: 0;
    border: solid 4px rgba(0,0,0,0.4);
    border-radius: 4px;
    padding: 0 2px;
    padding-bottom: 2px;
    box-shadow: 3px 4px 3px rgba(0,0,0,0.31);
}
.row{
    margin: 2px 0px;
    padding: 0px;
    height: 64px;
}
.cell{
    width:64px;
    height: 64px;
    border-radius: 2px;
    background-color: white;
    display: inline-block;
    margin: 1px;
    padding: 0px
}