body {
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

#game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.board {
    display: block;
    min-height: 256px;
    min-width: 256px;
    margin: 24px;
    padding: 2px 3px;
    position: relative;

    /* border: solid 8px #484848; */
    border: solid 8px rgb(57, 27, 16);
    border-radius: 8px;
    /* box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.40); */
    box-shadow: 5px 5px 3px rgba(130, 47, 17, 0.4);

    /* background-color: dimgray; */
    background: linear-gradient(90deg, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
}

.row {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 2px 0;
}

.cell {
    height: 64px;
    width: 64px;
    margin: 0 1px;
    box-sizing: border-box;

    border-radius: 2px;

    background-color: ghostwhite;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.56);
}

.empty {
    background-color: unset;
    box-shadow: none;
}

.block {
    background-color: chocolate;
}

.flag {
    background-color: rgba(240, 60, 30, 0.4);
}

.goal {
    background-color: burlywood;
}

.wall {
    background-color: darkgray;
}

.player {
    box-sizing: border-box;
    position: absolute;

    height: 64px;
    width: 64px;

    border-radius: 50%;
    border: solid 8px rgb(39, 54, 39);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.56);
    background: linear-gradient(90deg, hsla(97, 56%, 42%, 1) 0%, hsla(92, 55%, 62%, 1) 100%);

    transition:
        left 150ms ease-in-out 50ms,
        top 150ms ease-in-out 50ms;
}

.box {
    box-sizing: border-box;
    position: absolute;

    height: 60px;
    width: 60px;
    margin: 2px;

    border: solid 8px rgb(54, 43, 39);
    border-radius: 16px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.56);
    background-color: chocolate;

    transition:
        left 150ms ease-in-out 50ms,
        top 150ms ease-in-out 50ms;
}